.diacritic-box {
  --box-size: 1.5rem;
  position: fixed;
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
}

.diacritic-box__character {
  background-color: #b4b4b7;
  color: white;

  width: var(--box-size);
  height: var(--box-size);
  margin-right: 0.5rem;
  padding: 0.2rem;
  border-radius: 20%;

  text-align: center;
}

.diacritic-box__character--active {
  background-color: #58a1ff;
}
