body {
  font-family: Rubik, sans-serif;
  margin: 1rem;
}


.inputs {
  margin-top: 3rem;
}

.inputs__wrapper {
  margin-bottom: 2rem;
}

.inputs input {
  padding: 0.6rem;
  font-size: 1.2rem;
}


.container {
  max-width: 300px;
  margin: auto;
}



.diacritic-box {
  position: fixed;
  display: flex;
  font-family: 'IBM Plex Sans';
  font-size: 1.5rem;
}

.diacritic-box__character {
  background-color: #a6a6b5;
  color: white;

  width: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.2rem;
  border-radius: 20%;

  text-align: center;
}


.diacritic-box__character--active {
  background-color: #3050f3;
}
